* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border: 0;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    backdrop-filter: blur(.5rem);
    box-shadow: 0  0 10px rgba(0, 0, 0, .5);
}

h1 {
    background-color: white;
    border-radius: .5rem;
    padding: .4rem;
}

.loader {
    border: .2rem solid white;
    border-radius: 50%;
    border-top:  .2rem solid blue;
    width: 30px;
    height: 30px;
    animation:  spin 2s linear infinite;
    background-color: blue;
}

.loader-box {
    background: blue;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content:center;
}

.box {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    button {
    background:green;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border:0;
    color: white;
    font-size: 2rem;
    }
}

.side-2 {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.load {
     display: flex;
    align-items: center;
    gap: 2rem;
    background-color: blue;
    padding: .4rem;
    border-radius: 1rem;
    p {
        font-size: 1.4rem;
        color: white;
    }
}

input {
    padding:.6rem 2rem ;
    border-radius: .7rem;
    border: 3px solid white;
    background-color: transparent;
    font-size: 1.4rem;
    color: white;
}

input:hover {
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
